/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

aws.client.anonymous = true

// Find and use locally cached reference data
def refBase = new File("${projectDir}/reference_data")
def refDir = null
if (refBase.exists()) {
    refDir = refBase.listFiles()?.findAll { it.isDirectory() }?.find {
        new File(it, "GRCh38_masked_exclusions_alts_hlas.fasta").exists()
    }
}

if (refDir) {
    // Override individual reference file params to point to cached files
    params.ref_data_genome_fasta        = "${refDir}/GRCh38_masked_exclusions_alts_hlas.fasta"
    params.ref_data_genome_fai          = "${refDir}/GRCh38_masked_exclusions_alts_hlas.fasta.fai"
    params.ref_data_genome_dict         = "${refDir}/GRCh38_masked_exclusions_alts_hlas.fasta.dict"
    params.ref_data_genome_img          = "${refDir}/GRCh38_masked_exclusions_alts_hlas.fasta.img"
    params.ref_data_genome_bwamem2_index = "${refDir}/bwa-mem2_index-2.2.1/"
    params.ref_data_genome_gridss_index  = "${refDir}/gridss_index-2.13.2/"
    params.ref_data_genome_star_index    = "${refDir}/star_index-gencode_38-2.7.3a/"
    params.ref_data_hmf_data_path        = "${refDir}/hmf_pipeline_resources.38_v2.3.0--2/"
}
