// Reference data paths (moved to persistent directory)
params {
    genomes {
        GRCh38_hmf {
            fasta         = "/home/rhassaine/arm_test_profile/reference_data/GRCh38_masked_exclusions_alts_hlas.fasta"
            bwamem2_index = "/home/rhassaine/arm_test_profile/reference_data/bwa-mem2_index-2.2.1/"
            gridss_index  = "/home/rhassaine/arm_test_profile/reference_data/gridss_index-2.13.2/"
            star_index    = "/home/rhassaine/star_index_2.7.11b/"
        }
    }
    ref_data_hmf_data_path = "/home/rhassaine/arm_test_profile/reference_data/hmf_pipeline_resources.38_v2.3.0--2/"
}

wave {
    enabled = false
}

docker {
    enabled = true
    fixeOwnership = true
     runOptions = '--platform linux/arm64'
}

process {
    arch = 'linux/arm64'

    // Disable conda for all processes (using containers instead)
    conda = null

     withName: /.*AMBER.*/ {
        container = 'ghcr.io/rhassaine/amber:4.2-arm64'
    }
    withName: /.*BAMTOOLS.*/ {
        container = 'ghcr.io/rhassaine/bamtools:1.5-arm64'
    }
    withName: /.*BWAMEM2_ALIGN.*/ {
        container = 'wave.seqera.io/wt/e79bd07ba8af/wave/build:bwa-mem2-2.3_sambamba-1.0.1_samtools-1.21--d0d7a19ffd2bce74'
    }
    withName: /.*SAMTOOLS.*/ {
        container = 'ghcr.io/rhassaine/samtools:1.21-arm64'
    }
    withName: /.*GATK4.*/ {
        container = 'ghcr.io/rhassaine/gatk4:4.6.1.0-arm64'
    }
    withName: /.*CHORD.*/ {
        container = 'ghcr.io/rhassaine/chord:2.1.2-arm64'
    }
    withName: /.*CIDER.*/ {
        container = 'ghcr.io/rhassaine/cider:1.1-arm64'
    }
    withName: /.*COBALT.*/ {
        container = 'ghcr.io/rhassaine/cobalt:2.2-arm64'
    }
    withName: /.*CUPPA.*/ {
        container = 'ghcr.io/rhassaine/cuppa:2.3-arm64'
    }
    withName: /.*DECOMP_.*/ {
        container = 'ubuntu:20.04'
    }
    withName: /.*ESVEE.*/ {
        container = 'ghcr.io/rhassaine/esvee:2.0-arm64'
    }
    withName: /.*ISOFOX.*/ {
        container = 'ghcr.io/rhassaine/isofox:1.7.2-arm64'
    }
    withName: /.*LILAC.*/ {
        container = 'ghcr.io/rhassaine/lilac:1.7-arm64'
    }
    withName: /.*LINX.*/ {
        container = 'ghcr.io/rhassaine/linx:2.2-arm64'
    }
    // LINXREPORT is a separate R package, not the LINX Java tool
    withName: /.*LINXREPORT.*/ {
        container = 'ghcr.io/rhassaine/linxreport:1.1.0-arm64'
    }
    withName: /.*NEO_FINDER.*/ {
        container = 'ghcr.io/rhassaine/neo:1.2-arm64'
    }
    withName: /.*NEO_SCORER.*/ {
        container = 'ghcr.io/rhassaine/neo:1.2-arm64'
    }
    withName: /.*NEO_ANNOTATE_FUSIONS.*/ {
        container = 'ghcr.io/rhassaine/isofox:1.7.2-arm64'
    }
    withName: /.*ORANGE.*/ {
        container = 'ghcr.io/rhassaine/orange:4.1-arm64'
    }
    withName: /.*PAVE.*/ {
        container = 'ghcr.io/rhassaine/pave:1.8.1-arm64'
    }
    withName: /.*PEACH.*/ {
        container = 'ghcr.io/rhassaine/peach:2.0-arm64'
    }
    withName: /.*PURPLE.*/ {
        container = 'ghcr.io/rhassaine/purple:4.3-arm64'
    }
    withName: /.*REDUX.*/ {
        container = 'ghcr.io/rhassaine/redux:2.0-arm64'
    }
    withName: /.*SAGE.*/ {
        container = 'ghcr.io/rhassaine/sage:5.0-arm64'
    }
    withName: /.*STAR.*/ {
        container = 'community.wave.seqera.io/library/star:2.7.11b--adccb46d6f2a92e3'
    }
    withName: /.*SIGS.*/ {
        container = 'ghcr.io/rhassaine/sigs:1.2.1-arm64'
    }
    withName: /.*TEAL.*/ {
        container = 'ghcr.io/rhassaine/teal:1.3.4-arm64'
    }
    withName: /.*VIRUSBREAKEND.*/ {
        container = 'ghcr.io/rhassaine/gridss:2.13.2-arm64'
        ext.args = '--rmargs ""'
    }
    withName: /.*VIRUSINTERPRETER.*/ {
        container = 'ghcr.io/rhassaine/virus-interpreter:1.7.1-arm64'
    }
    withName: /.*WISP.*/ {
        container = 'ghcr.io/rhassaine/wisp:1.3-arm64'
    }
} 
// Error handling strategy
process {
    errorStrategy = { task.exitStatus in [8,10,14,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
}

// Existing configurations for timeline, report, trace, and dag
timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
