/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file with URIs to HMF Docker images
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    This config file is intended for rapidly testing updates to HMFTool container
    images via Hartwigs CI/CD. This bypasses the bioconda CI/CD that requires human
    approval which can be slow.

----------------------------------------------------------------------------------------
*/

process {

    withName: 'REDUX.*' {
        container = 'docker.io/hartwigmedicalfoundation/redux:1.2.3'
    }

    withName: 'ORANGE.*' {
        container = 'docker.io/hartwigmedicalfoundation/orange:4.1.3'
    }
}

